#inputs {
    max-width: 500px;
}

.text-xs-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

#item1, #item2, .progress, .submit-btn, .reload-btn, .alert {
    max-width: 304px;
}

.alert {
    margin-top: 8px;
}

#resale, #production {
    display: none;
}

#orderid {
    margin-bottom: 10px;
}

.header {
    margin-bottom: -50px;
}

.indent {
    margin-top: -12px;
}

.DateFinishMake, .DateStartMake, .DateOfDispatch, .status {
    font-weight:bold;
}

.table {
    margin-top: 10px;
}
